[submodule "vim/vim.symlink/bundle/fugitive"]
	path = vim/vim.symlink/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim.symlink/bundle/solarized"]
	path = vim/vim.symlink/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vim.symlink/bundle/ruby"]
	path = vim/vim.symlink/bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/vim.symlink/bundle/rake"]
	path = vim/vim.symlink/bundle/rake
	url = https://github.com/tpope/vim-rake.git
[submodule "vim/vim.symlink/bundle/cf-utils"]
	path = vim/vim.symlink/bundle/cf-utils
	url = https://github.com/davejlong/cf-utils.vim.git
[submodule "vim/vim.symlink/bundle/snipmate"]
	path = vim/vim.symlink/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim/vim.symlink/bundle/supertab"]
	path = vim/vim.symlink/bundle/supertab
	url = https://github.com/ervandew/supertab/
[submodule "vim/vim.symlink/bundle/zencoding"]
	path = vim/vim.symlink/bundle/zencoding
	url = https://github.com/mattn/zencoding-vim.git
[submodule "vim/vim.symlink/bundle/unimpaired"]
	path = vim/vim.symlink/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/vim.symlink/bundle/endwise"]
	path = vim/vim.symlink/bundle/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/vim.symlink/bundle/surroud"]
	path = vim/vim.symlink/bundle/surroud
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/vim.symlink/bundle/arduino"]
	path = vim/vim.symlink/bundle/arduino
	url = https://github.com/davejlong/vim-arduino.git
[submodule "vim/vim.symlink/bundle/matchtagalways"]
	path = vim/vim.symlink/bundle/matchtagalways
	url = https://github.com/Valloric/MatchTagAlways.git
[submodule "vim/vim.symlink/bundle/sqlserver"]
	path = vim/vim.symlink/bundle/sqlserver
	url = https://github.com/hoffstein/vim-tsql.git
[submodule "tmux/powerline"]
	path = tmux/powerline
	url = git://github.com/erikw/tmux-powerline.git
[submodule "vim/vim.symlink/bundle/coffeescript"]
	path = vim/vim.symlink/bundle/coffeescript
	url = https://github.com/kchmck/vim-coffee-script.git
