"*":
  "activate-power-mode":
    autoToggle: false
    screenShake:
      enabled: false
  core:
    disabledPackages: [
      "welcome"
      "language-coldfusion"
      "language-coldfusion"
      "RubyMotion"
    ]
    projectHome: "/Users/davejlong/Projects"
    themes: [
      "atom-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "Hack"
    fontSize: 12
    invisibles: {}
    preferredLineLength: 100
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "78c54aba-b64f-0306-f671-5810eacd78ca"
  "gulp-helper":
    command: "gulp"
  linter:
    errorPanelHeight: 22
  "linter-rubocop": {}
  "linter-swiftc": {}
  metrics:
    userId: "3c3a09a87af3b04fe2e8fa1adb77049757209e40"
  minimap: {}
  "release-notes":
    viewedVersion: "0.95.0"
  rspec:
    command: "docker-compose run app bin/rspec"
  "spell-check":
    grammars: [
      "source.gfm"
      "text.git-commit"
      "text.plain"
    ]
  "test-status":
    "spec/**/*_spec":
      rb: "bundle exec rspec"
  "tree-view": {}
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  wakatime:
    ignore: [
      "^/var/"
      "^/tmp/"
      "^/private/"
      "COMMIT_EDITMSG$"
      "PULLREQ_EDITMSG$"
      "MERGE_MSG$"
    ]
  welcome:
    showOnStartup: false
