"*":
  "activate-power-mode":
    autoToggle: false
    screenShake:
      enabled: false
  "atom-beautify":
    general:
      _analyticsUserId: "7cc51e61-8006-464c-bbd3-a83abd1bd452"
  "atom-elixir":
    command: "/Users/david/.kiex/elixirs/elixir-1.3.4/bin/elixir"
  "atom-material-ui":
    colors: {}
  core:
    disabledPackages: [
      "welcome"
      "language-coldfusion"
      "language-coldfusion"
      "RubyMotion"
      "build-rake"
    ]
    projectHome: "/Users/davejlong/Projects"
    telemetryConsent: "limited"
    useCustomTitleBar: true
  editor:
    fontFamily: "Hack"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
    tabType: "soft"
  "exception-reporting":
    userId: "78c54aba-b64f-0306-f671-5810eacd78ca"
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus":
    general:
      _analyticsUserId: "656c0616-03a2-4762-b04c-d0b25aa89b0b"
  "gulp-helper":
    command: "gulp"
  linter:
    errorPanelHeight: 22
  "linter-rubocop": {}
  "linter-swiftc": {}
  "linter-tidy": {}
  metrics:
    userId: "3c3a09a87af3b04fe2e8fa1adb77049757209e40"
  minimap: {}
  "one-dark-ui":
    fontSize: 12
  "release-notes":
    viewedVersion: "0.95.0"
  rspec:
    command: "docker-compose run app bin/rspec"
  "spell-check":
    grammars: [
      "source.gfm"
      "text.git-commit"
      "text.plain"
    ]
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "test-status":
    "spec/**/*_spec":
      rb: "bundle exec rspec"
  "tree-view":
    hideIgnoredNames: true
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
".dockerfile.source":
  editor:
    preferredLineLength: 100
".dockerignore.source":
  editor:
    preferredLineLength: 100
