"*":
  "activate-power-mode":
    autoToggle: false
    screenShake:
      enabled: false
  "atom-beautify":
    general:
      _analyticsUserId: "7cc51e61-8006-464c-bbd3-a83abd1bd452"
  "atom-elixir":
    command: "/Users/david/.kiex/elixirs/elixir-1.4/bin/elixir"
  "atom-material-ui":
    colors:
      abaseColor: "#607d8b"
      predefinedColor: "Blue Grey"
    tabs:
      tintedTabBar: true
  "autocomplete-elixir":
    elixirPath: "/Users/david/.asdf/shims/elixir"
    erlangHome: "/Users/david/.asdf/shims/"
    matchDoEnd: false
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "welcome"
      "language-coldfusion"
      "language-coldfusion"
      "RubyMotion"
      "build-rake"
      "linter-tslint"
      "linter-spell"
      "linter-spell-html"
      "linter-spell-ruby"
      "linter-spell-shellscript"
      "atomify"
      "busy-signal"
      "platformio-ide"
      "platformio-ide-debugger"
      "platformio-ide-terminal"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      ".pioenvs"
      ".piolibdeps"
      ".clang_complete"
      ".gcc-flags.json"
    ]
    projectHome: "/Users/davejlong/Projects"
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "Hack"
    fontSize: 20
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "78c54aba-b64f-0306-f671-5810eacd78ca"
  "file-icons":
    coloured: false
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus":
    general:
      _analyticsUserId: "656c0616-03a2-4762-b04c-d0b25aa89b0b"
  "gulp-helper":
    command: "gulp"
  iex: {}
  linter: {}
  "linter-rubocop": {}
  "linter-swiftc": {}
  "linter-tidy": {}
  "linter-ui-default":
    panelHeight: 63
    useBusySignal: false
  metrics:
    userId: "3c3a09a87af3b04fe2e8fa1adb77049757209e40"
  minimap:
    plugins:
      "minimap-autohider": true
      "minimap-autohiderDecorationsZIndex": 0
  nuclide:
    "nuclide-file-tree":
      showOpenFiles: false
      showUncommittedChanges: false
    "nuclide-flow":
      warnOnNotInstalled: false
    "nuclide-home":
      showHome: false
  "one-dark-ui":
    fontSize: 12
  "platformio-ide":
    showPIOHome: false
  "release-notes":
    viewedVersion: "0.95.0"
  rspec:
    command: "docker-compose run app bin/rspec"
  "spell-check":
    grammars: [
      "source.gfm"
      "text.git-commit"
      "text.plain"
    ]
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "test-status":
    "spec/**/*_spec":
      rb: "bundle exec rspec"
  "tool-bar":
    position: "Left"
    visible: false
  "tree-view":
    hideIgnoredNames: true
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
".dockerfile.source":
  editor:
    preferredLineLength: 100
".dockerignore.source":
  editor:
    preferredLineLength: 100
